name: Build Windows exe

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install --registry=https://registry.npmjs.org/

      - name: Create .env
        run: |
          echo GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }} >> .env

      - name: Build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cluely-windows-build
          path: |
            release
            dist-electron
